[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=open-pdf.sh %u
Name=Example 1
GenericName=Action
Icon=settings
Comment=Connect headphones to computer
MimeType=x-scheme-handler/example-1
