[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=open-pdf.sh %u
Name=Open PDF from Browser 
GenericName=Action
Icon=settings
Comment=Open PDF from Browser 
MimeType=x-scheme-handler/open-pdf
